body {
    margin: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(99, 45px);
    max-width: 1350px;
    width: 100%;
}

.logo {
    grid-column: 1 / span 9;
    grid-row: 1;
    font-size: 1.1rem;
    letter-spacing: 2px;
    background-color: #474E5D;
}

.nav {
    grid-column: 10 / span 7;
    grid-row: 1;
    font-size: .8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #474E5D;
}

h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: normal;
}

h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
}

h3 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal;
}

.amenities h4 {
    text-align: center;
    text-transform: uppercase;
}

h5 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: normal;
}

p {
    font-size: .90rem;
}

.locations p {
    line-height: 1.1;
}

.amenities p {
    text-align: center;
}

.main-img-1 {
    grid-column: 1 / span 12;
    grid-row: 2 / span 9;
    background-size: cover;
    background-image: url('images/tuscany-villas-sant-anna.jpg');
}

.main-img-2 {
    grid-column: 13 / span 4;
    grid-row: 2 / span 9;
    background-size: cover;
    background-image: url('images/Versilia.jpg');
}

.locations-head {
    grid-column: 1 / span 16;
    grid-row: 11 / span 4;
    text-align: center;
    background-color: #474E5D;
}

.l1-text {
    grid-column: 2 / span 7;
    grid-row: 16 / span 7;
    color: #474E5D;
}

.l1-image {
    grid-column: 10 / span 6;
    grid-row: 16 / span 7;
    background-size: cover;
    background-image: url('images/italy-mountain-villa.jpeg');
}

.l2-background {
    grid-column: 1 / span 16;
    grid-row: 24 / span 9;
    background-color: #474E5D;
}

.l2-image {
    grid-column: 2 / span 6;
    grid-row: 25 / span 7;
    background-size: cover;
    background-image: url('images/modern-villa.jpeg');
}

.l2-text {
    grid-column: 9 / span 7;
    grid-row: 25 / span 7;
}

.l3-text {
    grid-column: 2 / span 7;
    grid-row: 34 / span 7;
    color: #474E5D;
}

.l3-image {
    grid-column: 10 / span 6;
    grid-row: 34 / span 7;
    background-size: cover;
    background-image: url('images/tuscany-grape-field-nature-51947.jpeg');
}

.amenities-head {
    grid-column: 1 / span 16;
    grid-row: 42 / span 4;
    text-align: center;
    background-color: #474E5D;
}

.amenities-img-1 {
    grid-column: 3 / span 4;
    grid-row: 47 / span 8;
    background-size: cover;
    background-image: url('images/3b-348x348.jpg');
}

.amenities-text-1 {
    grid-column: 7 / span 4;
    grid-row: 47 / span 8;
    color: #474E5D;
}

.amenities-img-2 {
    grid-column: 11 / span 4;
    grid-row: 47 / span 8;
    background-size: cover;
    background-image: url('images/42-348x348.jpg');
}

.amenities-text-2 {
    grid-column: 3 / span 4;
    grid-row: 55 / span 8;
    color: #474E5D;
}

.amenities-img-3 {
    grid-column: 7 / span 4;
    grid-row: 55 / span 8;
    background-size: cover;
    background-image: url('images/314-348x348.jpg');
}

.amenities-text-3 {
    grid-column: 11 / span 4;
    grid-row: 55 / span 8;
    color: #474E5D;
}

.amenities-img-4 {
    grid-column: 3 / span 4;
    grid-row: 63 / span 8;
    background-size: cover;
    background-image: url('images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
}

.amenities-text-4 {
    grid-column: 7 / span 4;
    grid-row: 63 / span 8;
    color: #474E5D;
}

.amenities-img-5 {
    grid-column: 11 / span 4;
    grid-row: 63 / span 8;
    background-size: cover;
    background-image: url('images/Villa-Vanna-231-348x348.jpg');
}

.reviews-head {
    grid-column: 1 / span 16;
    grid-row: 72 / span 4;
    text-align: center;
    background-color: #474E5D;
}

.carousel {
    grid-column: 1 / span 16;
    grid-row: 77 / span 4;
    color: #474E5D;
}

.contact-head {
    grid-column: 1 / span 16;
    grid-row: 82 / span 4;
    text-align: center;
    background-color: #474E5D;
}

.contact-info {
    grid-column: 2 / span 6;
    grid-row: 87 / span 8;
    color: #474E5D;
}

.contact-box {
    grid-column: 8 / span 8;
    grid-row: 87 / span 8;
    color: #474E5D;
}

.footer {
    grid-column: 1 / span 16;
    grid-row: 96 / span 4;
    text-align: center;
    background-color: #474E5D;
}
