html {
    font-size: 2.5vmin;
}

body {
    margin: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(98, 45px);
    max-width: 1350px;
    width: 100%;
}

.logo {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 1.1rem;
    letter-spacing: 3px;
    background-color: #474E5D;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 4%;
}

.nav {
    grid-column: 3 / span 14;
    grid-row: 1;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #474E5D;
    padding-right: 2vw;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
}

.nav ul li {
    display: flex;
    padding-left: 2vw;
    padding-right: 2vw;
}

.nav li a {
    color: white;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: normal;
}

h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
}

h3 {
    margin: 0;
    font-size: 1.85rem;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal;
}

h5 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: normal;
}

p {
    font-size: .90rem;
}

.main h1, .main h4 {
    display: flex;
    justify-content: center;
}

.main h1 {
    margin-top: 20px;
}

.main-img-1 {
    grid-column: 1 / span 12;
    grid-row: 2 / span 9;
    text-align: center;
    background-size: cover;
    background-image: url('images/tuscany-villas-sant-anna.jpg');
    background-position: center;
}

.main-img-2 {
    grid-column: 13 / span 4;
    grid-row: 2 / span 9;
    background-size: cover;
    background-image: url('images/Versilia.jpg');
}

.locations-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.locations-head {
    grid-column: 1 / span 16;
    grid-row: 11 / span 4;
    text-align: center;
    background-color: #474E5D;
}

.locations p {
    line-height: 1.1;
}

.l1-text, .l2-text, .l3-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.l1-text {
    grid-column: 2 / span 7;
    grid-row: 16 / span 7;
    color: #474E5D;
}

.l1-image {
    grid-column: 10 / span 6;
    grid-row: 16 / span 7;
    background-size: cover;
    background-image: url('images/italy-mountain-villa.jpeg');
    background-position: center;
}

.l2-background {
    grid-column: 1 / span 16;
    grid-row: 24 / span 9;
    background-color: #474E5D;
}

.l2-image {
    grid-column: 2 / span 6;
    grid-row: 25 / span 7;
    background-size: cover;
    background-image: url('images/modern-villa.jpeg');
    background-position: center;
}

.l2-text {
    grid-column: 9 / span 7;
    grid-row: 25 / span 7;
}

.l3-text {
    grid-column: 2 / span 7;
    grid-row: 34 / span 7;
    color: #474E5D;
}

.l3-image {
    grid-column: 10 / span 6;
    grid-row: 34 / span 7;
    background-size: cover;
    background-image: url('images/tuscany-grape-field-nature-51947.jpeg');
    background-position: center;
}

.amenities-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amenities-head {
    grid-column: 1 / span 16;
    grid-row: 42 / span 4;
    text-align: center;
    background-color: #474E5D;
}

.amenities h4 {
    display: inline-flex;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(71, 78, 93, 0.8);
    line-height: 1.1;
    max-width: 150px;
    width: 100%;
    padding: 5%;
}

.amenities-img-1, .amenities-img-2, .amenities-img-3, .amenities-img-4, .amenities-img-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.amenities p {
    text-align: center;
}

.amenities h3 {
    text-align: center;
    line-height: 1.1;
}

.amenities-text-1, .amenities-text-2, .amenities-text-3, .amenities-text-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amenities-img-1 {
    grid-column: 3 / span 4;
    grid-row: 47 / span 8;
    background-size: cover;
    background-image: url('images/3b-348x348.jpg');
    background-position: center;
}

.amenities-text-1 {
    grid-column: 7 / span 4;
    grid-row: 47 / span 8;
    color: #474E5D;
}

.amenities-img-2 {
    grid-column: 11 / span 4;
    grid-row: 47 / span 8;
    background-size: cover;
    background-image: url('images/42-348x348.jpg');
    background-position: center;
}

.amenities-text-2 {
    grid-column: 3 / span 4;
    grid-row: 55 / span 8;
    color: #474E5D;
}

.amenities-img-3 {
    grid-column: 7 / span 4;
    grid-row: 55 / span 8;
    background-size: cover;
    background-image: url('images/314-348x348.jpg');
    background-position: center;
}

.amenities-text-3 {
    grid-column: 11 / span 4;
    grid-row: 55 / span 8;
    color: #474E5D;
}

.amenities-img-4 {
    grid-column: 3 / span 4;
    grid-row: 63 / span 8;
    background-size: cover;
    background-image: url('images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
    background-position: center;
}

.amenities-text-4 {
    grid-column: 7 / span 4;
    grid-row: 63 / span 8;
    color: #474E5D;
}

.amenities-img-5 {
    grid-column: 11 / span 4;
    grid-row: 63 / span 8;
    background-size: cover;
    background-image: url('images/Villa-Vanna-231-348x348.jpg');
    background-position: center;
}

.reviews-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews-head {
    grid-column: 1 / span 16;
    grid-row: 72 / span 4;
    text-align: center;
    background-color: #474E5D;
}

.carousel {
    grid-column: 1 / span 16;
    grid-row: 77 / span 4;
    color: #474E5D;
}

.contact-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-head {
    grid-column: 1 / span 16;
    grid-row: 82 / span 4;
    text-align: center;
    background-color: #474E5D;
}

.contact-info {
    grid-column: 2 / span 6;
    grid-row: 87 / span 6;
    color: #474E5D;
}

.contact-box {
    grid-column: 8 / span 8;
    grid-row: 87 / span 6;
    color: #474E5D;
}

.footer {
    grid-column: 1 / span 16;
    grid-row: 94 / span 5;
    text-align: center;
    background-color: #474E5D;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer i {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 4px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.name {
    margin-bottom: 0;
}



/* button styling */

.l2-text .button {
    background-color: white;
    color: #474E5D;
}

.button, input[type="submit"] {
    background-color: #474E5D;
    color: white;
    border: none;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-size: .9rem;
    cursor: pointer;
}

/* end button styling */



/* carousel styling */

.slides {
    padding: 0;
    width: 80%;
    height: 180px;
    display: block;
    margin: 0 auto;
    position: relative;
}

    .slides input {
        display: none;
    }

.slide-container {
    display: block;
}

.slide {
    top: 0;
    opacity: 0.4;
    width: 100%;
    height: 180px;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
}

.carousel i {
    border: solid #474E5D;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 7px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.nav label {
    display: none;
    position: absolute;
    opacity: 0.5;
    cursor: pointer;
    color: #474E5D;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    line-height: 180px;
}

    .nav label:hover {
        opacity: 1;
    }

.nav .prev {
    left: 0;
}

.nav .next {
    right: 0;
}

input:checked + .slide-container .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 3s ease;
}

input:checked + .slide-container .nav label {
    display: block;
}

.nav-dots {
    width: 100%;
    bottom: 0;
    height: 10px;
    display: block;
    position: absolute;
    text-align: center;
}

    .nav-dots .nav-dot {
        top: 0;
        width: 8px;
        height: 8px;
        margin: 0 4px;
        position: relative;
        border-radius: 100%;
        display: inline-block;
        background-color: #474E5D;
    }

        .nav-dots .nav-dot:hover {
            cursor: pointer;
            background-color: #474E5D;
        }

.nav-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3 {
    width: 10px;
    height: 10px;
    background-color: #474E5D;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.quote {
    font-size: 1.2rem;
    font-style: italic;
}

/* end carousel styling */


/* styling contact form */

.contact-box form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    box-sizing: border-box;
    height: 250px;
}

.cust-contact {
    display: inline-flex;
    justify-content: space-between;
    max-width: 675px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

#name, #email {
    max-width: 320px;
    width: 100%;
    height: 35px;
    margin: 0;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: .85rem;
}

#comment {
    max-width: 675px;
    width: 100%;
    height: 125px;
    margin: 0;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: .85rem;
}

#submit {
    margin-right: 20px;
}

/* end styling contact form */